monolog:
    channels: ['entities', 'security', 'exception']
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event"]
        # uncomment to get logging in your browser
        # you may have to allow bigger header sizes in your Web server configuration
        #firephp:
        #    type: firephp
        #    level: info
        #chromephp:
        #    type: chromephp
        #    level: info

        entities:
            type: rotating_file
            level: info
            path: "%kernel.logs_dir%/%kernel.environment%-entities.log"
            max_files: 10
            channels: entities
        security:
            type: rotating_file
            level: info
            path: "%kernel.logs_dir%/%kernel.environment%-security.log"
            max_files: 10
            channels: security
        exception:
            type: rotating_file
            level: info
            path: "%kernel.logs_dir%/%kernel.environment%-exception.log"
            max_files: 10
            channels: exception
        console:
            type:   console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]
